@import "../../mixins";
@import "../../variables";

.SoStartScreen {
    text-align: center;
    color: $main-color;
    @include flex(space-evenly, center, column);
    height: 88%;
    width: 70%;
    transition: all 1.5s ease;
    &-title {
        font-size: 80px;
        font-weight: 500;
        letter-spacing: 15px;
        text-shadow: 0 0 15px $main-color;
    }
}

@media (max-width: 430px) {
    .SoStartScreen {
        width: 100%;
    }
}

.SoStartScreen-transition {
    transform: translateX(200%);
}
