@import '../../../mixins';
@import '../../../variables';

.SoScoreScreen-statistics{
    color:white;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px 0;
    border-top:2px solid $main-color;
    border-bottom:2px solid $main-color;
    padding: 10px 0;

    &-statistic{
        @include flex(center,center);
        &-value{
            font-size: 21px;
            width: 100%;
            margin: 0 10px;
        }
    }
}