@import "../../mixins";
@import "../../variables";

.SoQuestionsScreen {
    @include flex(center, center);
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    @include spawn-animation(opacity,1.5s);
    transition: transform 1.5s ease;
}

@media(max-width:500px){
    .SoQuestionsScreen{
        width: 100%;
    }
}
